body{
    background-image: url(dark_wood.png);

}

p{
    color: white;
    font-weight: bold;
    font-family: "Arial";

}

a{
    color: white;
    font-weight: bold;
    font-family: "Arial";
    font-size: 24px;
}

h3{
    color:#FFBC00;
    font-size: 40px;
    font-family: "Passion one";
    margin-bottom: 0px;

}

div{
    background-color:#8E41D5;

}

#Header{
    border: solid 8px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}
#Header h1{
    font-size: 60px; 
    font-family: "Passion one";
    color: #FFBC00;
    font-weight: bold;

}

#LeftNav{
    border: solid 8px black;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    float: left;
    text-align: center;
    padding:  15px;
}

#LeftNav img{

}

#LeftNav ul{

}

#LeftNav h3{

}

#Content{
    border: solid 8px black;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#Footer{
    border: solid 8px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}



#1st tag
.dropdown-content {
    right: 0;
  }

#2nd tag
p::first-line {
    color: #ff0000;
    font-variant: small-caps;
  }

#3rd tag
ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;
}

#4th tag
p.ex1 {outline: dashed;}
p.ex2 {outline: dotted red;}
p.ex3 {outline: 5px solid yellow;}
p.ex4 {outline: thick ridge pink;}

#5th tag
img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }
